body,
html {
    height: 100%;
}

.container-1 {
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.container-1 img {
    margin-bottom: 3%;
}

.container-1 h3 {
    margin-bottom: 5%;
}

.main-article {
    flex: 5;
}

.side-info {
    flex: 2;
    margin-left: 3%
}

.side-info h3 {
    margin-bottom: 15%;
}